@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
  --table-green: #2d6a4f;
  --table-dark: #1b4332;
  --gold: #ffd700;
  --text-white: #f0fdf4;
}
::selection{
  background: #ffd700;
  color: #0c1014;
}

body,html {
  background-color: #0c1014;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a { text-decoration: none; color: inherit; }
img{ user-select: none; pointer-events: none; }




.game-viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.game-stage {
  flex-shrink: 0;
  transform-origin: center center;
  background: #0c1014;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  overflow: hidden;
}

.rotate-warning {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99999;
}
.rotate-icon {
  font-size: 4rem;
  margin-bottom: 20px;
  animation: rotatePhone 2s infinite;
}

@keyframes rotatePhone {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(90deg); }
  100% { transform: rotate(0deg); }
}











/* --- LANDING PAGE --- */

.connect-screen {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: url('./assets/landing.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}
.cselms{
  padding: 300px 100px 0 100px;
  text-align: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.cselms::after{
  content: "";
  position: absolute;
  right: 0; top: 0;
  height: 100%;
  pointer-events: none;
  box-shadow: -2px 0 560px 600px rgba(0, 0, 0, 0.7);
}

.chip-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

.falling-chip {
  position: absolute;
  top: -50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  animation: fall infinite linear;
}

@keyframes fall {
  0% {
    transform: translateY(-50px) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}


.connect-screen img {
  width: 550px;
  margin-right: -25px;
  z-index: 3;
}
.connect-screen i {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #ddd;
  font-weight: bold;
  z-index: 3;
}
.connect-wallet{
  margin-top: 30px;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
  color: #0c1014;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 3;
  width: 55%;
  position: relative;
  display: inline-block;
  color: var(--gold);
  transition: 0.5s;
  overflow: hidden;
  text-align: center;
}

.connect-wallet:hover {
  background: var(--gold);
  color: #050801;
  box-shadow: 0 0 5px var(--gold), 0 0 25px var(--gold), 0 0 50px var(--gold),
    0 0 200px var(--gold);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.connect-wallet:nth-child(1) {
  filter: hue-rotate(270deg);
}
.connect-wallet:nth-child(2) {
  filter: hue-rotate(110deg);
}
.connect-wallet span {
  position: absolute;
  display: block;
}
.connect-wallet span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--gold));
  animation: animate1 2s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.connect-wallet span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--gold));
  animation: animate2 2s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.connect-wallet span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--gold));
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.connect-wallet span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--gold));
  animation: animate4 2s linear infinite;
  animation-delay: 1.5s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
















/* --- GAME BOARD --- */

.game-board {
  height: 100vh;
  min-height: 919px;
  display: flex;
  flex-direction: column;
  background-color: #000914;
  background-image: url("./assets/board-bg.png");
  background-repeat: repeat;
}

/* HEADER */
.header {
  padding: 15px 30px;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
  height: 77px;
}

.wallet-info, .balance-box {
  background: rgba(255,255,255,0.1);
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.25s;
}

.wallet-info:hover{
  background: rgba(255,255,255,0.15);
}

/* --- WALLET DROPDOWN --- */
.clickable {
  cursor: pointer;
  user-select: none;
}

.wallet-container{position: relative;}

.disconnect-menu {
  position: absolute;
  top: 45px;
  left: 0;
  font-family: "Luckiest Guy", cursive;
  font-weight: 300;
  letter-spacing: 1px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
  animation: slideDown 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 20;
}

.btn-disconnect {
  width: 100%;
  background: #ef4444;
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 1rem;
}
.btn-disconnect:hover {
  background: #dc2626;
}


/* --- FAUCET TIMER --- */
.btn-small.disabled {
  background: #344e46;
  padding: 6px 0;
  color: #a6b2c4;
  cursor: default;
  border-radius: 12px;
  font-size: 0.9rem;
  width: 97px;
}


.dot { height: 10px; width: 10px; background: #4ade80; border-radius: 50%; display: inline-block; }



.table-wd {
  width: 100%;
  min-width: 1920px;
  position: absolute;
  bottom: 0;
  margin: auto;
  user-select: none;
  pointer-events: none;
}








/* TABLE (The Green Felt) */
.table {
  flex: 1;
  background: url('./assets/table-texture.png'), radial-gradient(circle, var(--table-green), var(--table-dark));
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 20px 20px 20px;
  box-shadow: inset 0 0 100px rgba(0,0,0,0.8), inset  0 -100px 150px rgba(0,0,0,0.6);
  border-radius: 0 0 50% 50%;
}

/* HANDS & CARDS */
.dealer-section, .player-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}




.dealer-chips{
  position: absolute;
  left: 0; right: 0;
  top: 0;
  margin: auto;
  width: 420px;
  z-index: 10;
}
.deck{
  position: absolute;
  right: 0;
  top: 77px;
  width: 300px;
  z-index: 5;
  margin: auto;
}
.watermark{
  position: absolute;
  right: 0;
  left: 0;
  top: 230px;
  margin: auto;
  opacity: 0.1;
  width: 700px;
  z-index: 0;
}




.hand {
  display: flex;
  gap: 10px;
  justify-content: center;
  min-height: 160px;

  min-width: 110px;
  padding: 10px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #1a422a;
  outline: 2px solid #1a422a;
  outline-offset: 1px;
  transition: all 0.3s;
  box-shadow: inset 0 0 9px rgba(0,0,0,0.6);
  z-index: 3;
}

.card {
  width: 90px;
  height: 140px;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  font-weight: bold;
  font-size: 1.2rem;
  transition: transform 0.3s;
  user-select: none;
}
.card:hover { transform: translateY(-10px); }

.card-suit { font-size: 2.5rem; text-align: center; }
.card-bottom { transform: rotate(180deg); }

.hidden-card {
  /*
  background: repeating-linear-gradient(
    45deg,
    #b91c1c,
    #b91c1c 10px,
    #991b1b 10px,
    #991b1b 20px
  );
  color: white;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  */
  background: url('./assets/back.png') no-repeat center/cover;
  width: 94px;
  height: 144px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.hidden-card::after {
  content: "";
  position: absolute;
  left: -130%; bottom: -10%;
  margin: auto;
  width: 250%;
  height: 15px;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(15px);
  border-radius: 50%;
  transform: rotate(50deg);
  animation: pass 7s ease-in-out infinite;
}
@keyframes pass {
  0% { 
    transform: translate(0) rotate(50deg); 
    opacity: 1;
  }
  14% { 
    transform: translate(200px, -200px) rotate(50deg); 
    opacity: 1;
  }
  15% {
    transform: translate(200px, -200px) rotate(50deg);
    opacity: 0;
  }
  100% { 
    transform: translate(200px, -200px) rotate(50deg); 
    opacity: 0;
  }
}
.pattern { font-size: 2rem; }

.score-badge {
  background: rgba(0,0,0,0.6);
  padding: 5px 15px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Luckiest Guy", cursive;
  border-radius: 15px 15px 0 0;
  transform: translateY(9px);
}

.dealed-area {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #2a6140;
  outline: 2px solid #2a6140;
  outline-offset: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dealed-area svg {
  margin: auto;
}

.player-section {
  transform: translateY(-180px);
}


/* CENTER CONTROLS */
.center-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}



























.betting-ui {
  opacity: 1;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  
  background: radial-gradient(circle at 30% 30%, rgba(0,0,0,0.7), transparent);
  box-shadow: 
    inset 0 0 50px rgba(0,0,0,1), 
    0 20px 40px rgba(0,0,0,0.5),   
    0 0 0 10px rgba(0,0,0,0.3),
    0 0 40px rgba(0, 0, 0, 0.6);
    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  position: absolute;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.1);
  z-index: 999;
}
/*
.betting-ui h3 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--gold);
  opacity: 0.8;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  font-family: "Luckiest Guy", cursive;
}
*/
.pyb{
  width: 55%;
  user-select: none;
  pointer-events: none;
  opacity: 0.9;
  position: absolute;
  top: 30px;
  margin: auto;
}

/* --- 3D Poker Chip --- */
.svg-chip-wrapper {
  margin-top: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: floatChip 3s ease-in-out infinite;
}

@keyframes floatChip {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

.chip-value-text {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 900;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
  z-index: 10;
  pointer-events: none;
  color: white;
  text-shadow: 0 2px 4px rgba(0,0,0,0.8);
}

/* --- 3D Range Slider --- */
.range-container {
  width: 80%;
  padding: 0 10px;
}


.bet-range-slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 85%;
  height: 13px;
  background: rgb(17, 17, 17,0.1);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  outline: none;
  border: 1px solid black;
  box-shadow: inset 0 0 2px 4px #1d1c1c,
              -1px -3px 0 5px rgba(0,0,0,0.4),
              1px 1px 0 4px rgba(255,255,255,0.1);
}


.bet-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*background: radial-gradient(circle at 30% 30%, #e2e2e2, #5e5e5e);*/
  background: radial-gradient(circle at 0% 0%, #c7c556, #eeb704);
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5),
              0 -4px 6px rgba(0,0,0,1),
              0 3px 2px rgba(255,255,255,0.6),
              inset -2px -2px 4px rgba(255,255,255,0.7),
              inset 2px 2px 4px rgba(0,0,0,0.4);
  margin-top: -6px;
  border: 2px solid #333;
}


.bet-range-slider:active::-webkit-slider-thumb {
  background: radial-gradient(circle at 30% 30%, #ccca63, #daab12);
  transform: scale(0.95);
}









/* --- Activation buttons --- */
.action-area {
  height: 40px;
}

.action-area button {
  border-radius: 30px;
  padding: 12px 40px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-bottom: 7px solid black;
}

.btn-success {
  background: linear-gradient(to bottom, #2ecc71, #27ae60);
  color: white;
}
.action-area button:hover:not(:disabled) {
  transform: translateY(5px);
  border-bottom: 2px solid black;
}

.action-area button:disabled {
  filter: grayscale(1);
  cursor: not-allowed;
}





















































/*  ACTION SECTION  */  

.action-ui {
  position: absolute;
  bottom: 35px;
  z-index: 12;
}
.bet-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.action-buttons { display: flex; gap: 20px; margin-top: 10px; }

.btn-action {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 1.2rem;
  font-family: 'Luckiest Guy', cursive;
  background: rgba(0,0,0,0.25);
  cursor: pointer;
  text-shadow: 2px 2px 0px #000; 
  box-shadow: 
    inset 0px 7px 15px -3px var(--shadow),
    inset 0px -10px 15px -3px rgba(0, 0, 0, 0.5),
    5px 12px 15px rgba(0, 0, 0, 0.6);
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-action:active {
  transform: scale(0.95) translateY(2px);
}

.btn-action.hit {
  border: 3px solid rgba(120, 194, 255, 0.6);
  --shadow: rgba(120, 194, 255, 0.8);
  color: #72a6e9;
}

.btn-action.stand {
  border: 3px solid rgba(255, 213, 79, 0.6);
  color: #e1e972;
  --shadow: rgba(225, 255, 119, 0.8)
}
.btn-action:hover {
  filter: brightness(120%);
}







/* BUTTONS */
button { cursor: pointer; border: none; font-family: inherit; transition: 0.2s; }
button:disabled { opacity: 0.6; cursor: not-allowed; }

.action-area .btn-primary {
  background: var(--gold);
  color: #3f2e00;
  font-weight: 300;
  border-radius: 8px;
  font-size: 22px;
  font-family: "Luckiest Guy", cursive;
  box-shadow: 0 4px 15px rgba(255, 215, 0, 0.2);
  border-bottom: 7px solid black;
  border-radius: 50%;
}
.action-area .btn-primary:active:not(:disabled) {
  transform: translateY(7px);
  border-bottom: none;
  box-shadow: 0 4px 15px rgba(255, 215, 0, 0.2),
              inset 0 0 2px 2px rgba(0,0,0,0.8);
}


.balance-box{
  font-family: "Luckiest Guy", cursive;
  font-weight: 300;
}

.btn-small { 
  padding: 5px 10px; 
  font-size: 0.9rem; 
  border-radius: 5px; 
  margin-left: 10px; 
}

.btn-small:not(:disabled) {
    background: #30533d;
    color: whitesmoke;
    width: 75px;
    height: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.btn-small:not(:disabled)::before{
    content: "";
    background-image: conic-gradient(
        #00ff62 20deg,
        transparent 120deg
    );
    width: 350%;
    height: 250%;
    position: absolute;
    animation: rotate 2s linear infinite;
}
.btn-small:not(:disabled)::after{
    content: "";
    width: 70px;
    height: 25px;
    background: #30533d;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
}
.btn-small:not(:disabled) span{
  z-index: 10;
  font-size: 0.85rem;
  user-select: none;
  pointer-events: none;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

.btn-small:not(:disabled):hover::after{
    background: #44634e;
}






.large { padding: 12px 30px; font-size: 1.2rem; width: 100%; }




/* --- Notification --- */
.result-message {
  position: absolute;
  bottom: 30px; 
  left: 30px;
  font-size: 1.2rem;
  padding: 9px 25px;
  color: #0c1014; 
  font-weight: bold;
  background: var(--gold);
  border-radius: 10px;
  text-align: center;
  z-index: 10000;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  border: 2px solid #000;
  transform-origin: center bottom;
  max-height: 48px;
  line-height: 40px;
  max-width: 95vw;
  overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}











/*  SETTINGS PART  */

.hd1{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.settings-container {
  z-index: 10001;
}

.settings-icon {
  font-size: 2rem;
  cursor: pointer;
  background: rgba(255,255,255,0.1);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #c9c8c8;
  transition: transform 0.3s;
  position: relative;
  z-index: 10002;
}
.settings-icon:active{
  scale: 0.9;
}
.settings-icon:hover svg,
.settings-icon.active-si svg {
  transform: rotate(90deg);
}
.settings-icon svg{
  pointer-events: none;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.settings-dropdown {
  position: absolute;
  top: 75px;
  left: 0;
  width: 160px;
  background: rgba(0,0,0,0.15);
  backdrop-filter: blur(20px);
  border: 1px solid #334155;
  border-radius: 8px;
  overflow: hidden;
  animation: slideDown 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 10001;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 300;
  letter-spacing: 1px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.setting-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  font-weight: bold;
  font-size: 0.9rem;
  transition: background 0.2s;
}

.setting-item:last-child {
  border-bottom: none;
}

.setting-item:hover {
  background: rgba(255, 215, 0, 0.1);
  color: var(--gold);
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}















@keyframes flipReveal {
  0% { transform: rotateY(90deg); opacity: 0.8; }
  100% { transform: rotateY(0deg); opacity: 1; }
}

.card-flip {
  animation: flipReveal 0.6s ease-out forwards;
}

@keyframes waitThenShow {
  0% { opacity: 0; }
  20% { opacity: 0; }
  100% { opacity: 1; }
}

.prevent-flash {
  opacity: 0 !important;
  transition: none !important;
}